@model SSL.Ticket.SSL.Ticket.Models.Tickets.TodayTaskSummaryVM
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    @Html.HiddenFor(model => model.Type)
}
<script src="~/javascript/todaytasksummary/todaytasksummary.js"></script>

<div class="container-fluid">

    <button type="button" title="Add New" data-url="/TodayTaskSummary/Create" onclick="GoTo(this)" id="" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;New</button>
    @* <button type="button" title="" class="btn btn-secondary sslPost"id="PostPO">
        <i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;
        Post
    </button> *@

</div>
<div class="sapcer4"></div>

<div class="container-fluid" id="divClient">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">TodayTaskSummary</h3>
        </div>
        <div id="taskSummaryGrid">
        </div>
    </div>
</div>

