@using SSL.Sample.SSL.Sample.Models.Support
@model SSL.Sample.SSL.Sample.Models.Support.SupportVM

@{
    ViewBag.Title = "Tickets Info";
    Layout = "_Layout";
}

<script src="~/JavaScript/Support/SupportSettings.js"></script>

@Html.HiddenFor(model => model.Status)
<!--Buttons-->




<div class="container-fluid">
    <label class="pull-right">Support >Support All</label>
    <div style="display: none" id="formAppend"></div>
    <button type="submit" title="Add New Ticket" data-url="/Support/Create" onclick="GoTo(this)" id="" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;New</button>
    <button type="button" id="btnIndex" title="Go To Index" data-url="/Support/Index" onclick="GoTo(this)" id="" class="btn btn-primary" style="display: none"><i class="fa fa-th" aria-hidden="true"></i>&nbsp;Index</button>
</div>
<div class="sapcer4"></div>

<!-- Ticket Grid -->
<div class="container-fluid" id="divGrid">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Ticket Informations</h3>
        </div>
        <div id="kTicketGrid">
        </div>
    </div>
</div>
<section>
    <div id="partialContainer"> </div>
</section>

