<script src="~/areas/cs/scripts/testscripts/testsummary.js"></script>

<div class="uk-width-medium-1-1" style="display: none;">
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin>
            <div id="testGrid"> Test Grid</div>
        </div>
    </div>
</div>

