<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="card card-primary" style="width:97%;">
                <div id="vendorGrid"></div>
            </div>
            <button type="button" id="cancelVendorButton" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Close</button>
        </div>
    </div>
</div>
