@{
    // ViewBag.Title = "Started Task";
    Layout = "_Layout";
}



@* <div class="sapcer4"></div> *@

<div class="container-fluid" id="divGrid">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Started Task Informations</h3>
        </div>
        <div id="kStartedTaskGrid">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // var ticketId = $("#T_TicketId").val();
        // var AssigneeUserId = $("#AssigneeUserId").val();
        var StartedTaskSummaryManager = {
            gridStartedTaskDataSource: function () {
                var gridDataSource = new kendo.data.DataSource({
                    type: "json",
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    allowUnsort: true,
                    autoSync: true,
                    batch: true,
                    pageSize: 10,
                    transport: {
                        read: {
                            url: "/Task/GetAllStartedTaskData",
                            type: "POST",
                            dataType: "json",
                            cache: false
                        },                        
                        parameterMap: function (options) {
                            if (options.filter && options.filter.filters) {
                                options.filter.filters.forEach(function (filter) {
                                    if (filter.field === "startDate") {
                                        filter.value = kendo.toString(filter.value, "yyyy-MM-dd");
                                    }
                                });
                            }
                            return options;
                        }

                    },
                    batch: true,
                    schema: {
                        data: "items",
                        total: "totalCount",
                        model: {
                            id: "taskId",
                            fields: {
                                startDate: { type: "date" }
                            }
                        }
                    }
                });
                return gridDataSource;
            }
        }

        $("#kStartedTaskGrid").kendoGrid({
            dataSource: StartedTaskSummaryManager.gridStartedTaskDataSource(),
            pageable: {
                refresh: true,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                pageSizes: [10, 20, 50, "all"]
            },
            noRecords: true,
            messages: {
                noRecords: "No Record Found!"
            },
            scrollable: true,
            filterable: {
                extra: true,
                operators: {
                    string: {
                        startswith: "Starts with",
                        endswith: "Ends with",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gt: "Is greater then",
                        lt: "Is less then"
                    }
                }
            },
            //detailInit: detailInitProduct,
            sortable: true,
            resizable: true,
            reorderable: true,
            groupable: true,

            toolbar: ["excel", "pdf", "search"],
            excel: {
                fileName: "Task Excel.xlsx",
                filterable: true
            },
            search: {
                fields: ["taskCode", "taskTitle"]
            },
            columns: [

                {
                   title: "Action",
                   width: 80,
                   template: function (dataItem) {
                       console.log(dataItem);
                        return "<a class='btn btn-primary btn-sm mr-2 edit' title='Modify' href='/Task/Edit/" + dataItem.taskId + "'>" + "<i class='fas fa-pencil-alt'></i>" + "</a>";
                    }
                },

                {
                    field: "taskId", title: "ID", width: 150, hidden: true, sortable: true
                },
                {
                    field: "t_TicketId", title: "TicketId", width: 150, hidden: true, sortable: true
                },
                {
                    field: "companyId", title: "CompanyId", width: 150, hidden: true, sortable: true
                },
                {
                    field: "ticketCode", title: "Ticket Code", sortable: true, width: 220
                },
                {
                    field: "taskCode", title: "Task Code", sortable: true, width: 220
                },

                {
                    field: "taskTitle", title: "Title", sortable: true, width: 220
                },
                {
                    field: "taskDescription", title: "Description", hidden: true, sortable: true, width: 220
                },

                {
                    field: "startDate", title: "Start Date", sortable: true, width: 200, template: '#= kendo.toString(kendo.parseDate(startDate), "yyyy-MM-dd") #', filterable: {
                        ui: "datepicker"
                    }
                },
                {
                    field: "startTime", title: "Start Time", sortable: true, width: 140
                },
                {
                    field: "workingTime", title: "Working Time", sortable: true, width: 140
                },
                {
                    field: "startedBy", title: "Started By", sortable: true, width: 250
                },
                {
                    field: "requiredTime", title: "Required Time", hidden: true, sortable: true, width: 150
                }

            ],
            editable: false,
            selectable: "row",
            navigatable: true,
            columnMenu: true
        });
    });
</script>


